<!DOCTYPE html>
<html>
    <head>
        <title>Tutorial</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="/static/style.css">
    </head>
    <body>
        
        <h1 class="text-center">AgriDoc Plant Leaf Disease Detection</h1>

        <form class="p-3 text-center" action='/', method="post" enctype="multipart/form-data">
            <input class="form-control" type="file" name="imagefile">
            <input class="btn btn-primary mt-3" type="submit" value="Predict Image">
        </form>

        {% if prediction == 0 %}
            <p class="text-center">Disease:Apple Scab Leaf</p>
            <div>
                <p>What is Apple Scab Leaf?</p>
                <br>
                <p>Apple scab is the most common disease of apple and crabapple trees in Minnesota. Scab is caused by a fungus that infects both leaves and fruit. Scabby fruit are often unfit for eating. Infected leaves have olive green to brown spots. 
                    Leaves with many leaf spots turn yellow and fall off early.</p>
                <br>
                <p>Treatment:Myclobutanil (Spectracide Immunox Multipurpose Fungicide Spray Concentrate) is a synthetic fungicide that is effective against apple scab. 
                    You can apply it any time from green tip until after petal fall.</p>
                <p>Visit Site <a href="https://ipm.ucanr.edu/PMG/PESTNOTES/pn7413.html#:~:text=Myclobutanil%20(Spectracide%20Immunox%20Multipurpose%20Fungicide,tip%20until%20after%20petal%20fall.">Click here for more information</a></p>
                <p>Plant Health Clinic Services: <a href="https://cagayanvalley.da.gov.ph/regional-crop-protection-center-plant-health-clinic-services/">Link</a></p>

            </div>
        {% elif prediction == 1 %}
            <p class="text-center">Disease:Apple Rust Leaf</p>
            <div>
                <p>What is Apple Rust Leaf</p>
                <br>
                <p>Disease is most common on apple and crabapple. It occurs occasionally on hawthorn. 
                    Leaf spots are first yellow then turn bright orange-red, often with a bright red border. Small, raised, black dots form in the center of leaf spots on the upper leaf surface when the leaf spots mature.</p>
                <br>
                <p>Treatment: Fungicide sprays during April and May are critical to preventing disease
                    on susceptible varieties. The first spray should go down when leaves appear. A fungicide that
                    is available to homeowners and very effective for control of apple scab and cedar apple rust is
                    myclobutanil (Immunox and F-Stop Lawn & Garden Fungicide).</p>
                <p>Visit Site <a href="https://hnr.k-state.edu/extension/horticulture-resource-center/common-pest-problems/documents/Cedar-Apple%20Rust%20for%20Apples.pdf">Click here for more information</a></p>
                <p>Plant Health Clinic Services: <a href="https://cagayanvalley.da.gov.ph/regional-crop-protection-center-plant-health-clinic-services/">Link</a></p>
                
            </div>
        {% elif prediction == 2 %}
            <p class="text-center">Disease:Bell Pepper Leaf spot</p>
            <div>
                <p>What is Bell Pepper Leaf spot</p>
                <br>
                <p>Bacterial leaf spot, caused by Xanthomonas campestris pv. 
                    vesicatoria, is the most common and destructive disease for peppers in the eastern United States. It is a gram-negative, rod-shaped bacterium that can survive in seeds and plant debris from one season to another</p>
                <br>
                <p>
                    Treatment: Copper sprays can be used to control bacterial leaf spot, but they are not as effective when used alone on a continuous basis. Thus, combining these sprays with a plant resistance inducer, such as Regalia or Actigard, can provide good protection from the disease.
                </p>
                <p>Visit Site <a href="https://extension.wvu.edu/lawn-gardening-pests/plant-disease/fruit-vegetable-diseases/bacterial-leaf-spot-of-pepper#:~:text=Copper%20sprays%20can%20be%20used,good%20protection%20from%20the%20disease.">Click here for more information</a></p>
                <p>Plant Health Clinic Services: <a href="https://cagayanvalley.da.gov.ph/regional-crop-protection-center-plant-health-clinic-services/">Link</a></p>
            </div>
        {% elif prediction == 3 %}
            <p class="text-center">Disease:Corn Gray Leaf spot</p>
            <div>
            <p>What is Corn Gray Leaf spot</p>
                <br>
                <p>Gray leaf spot is typically the most serious foliar disease of corn in the U.S. 
                    corn belt, although other diseases can be more important in areas and years where weather conditions do not favor gray leaf spot. Gray leaf spot requires extended periods of high humidity and warm conditions. It can be confused with other foliar diseases of corn.</p>
                <br>
                <p> Treatment: Disease management tactics include using resistant corn hybrids, conventional tillage where appropriate, and crop rotation. Foliar fungicides can be effective if economically warranted.</p>
                <p>Visit Site <a href="https://extension.umn.edu/corn-pest-management/gray-leaf-spot-corn">Click here for more information</a></p>
                <p>Plant Health Clinic Services: <a href="https://cagayanvalley.da.gov.ph/regional-crop-protection-center-plant-health-clinic-services/">Link</a></p>
            </div>
            </div>
        {% elif prediction == 4 %}
            <p class="text-center">Disease:Corn Leaf Blight</p>
            <div>
            <p>What is Corn Leaf Blight</p>
                <br>
                <p>Typical symptoms of northern corn leaf blight are canoe-shaped lesions 1 inch to 6 inches long. The lesions are initially bordered by gray-green margins. </p>
                <br>
                <p>Treatment:Rotating to a non-host crop can reduce disease levels by allowing the corn debris on which the fungus survives to decompose before corn is planted again. Burying residue may help reduce infection levels by decreasing the amount of primary inoculum available in the spring. </p>
                <p>Visit Site <a href="https://www.dekalbasgrowdeltapine.com/en-us/agronomy/managing-northern-corn-leaf-blight.html#:~:text=Rotating%20to%20a%20non%2Dhost,inoculum%20available%20in%20the%20spring.">Click here for more information</a></p>
                <p>Plant Health Clinic Services: <a href="https://cagayanvalley.da.gov.ph/regional-crop-protection-center-plant-health-clinic-services/">Link</a></p>
            </div>
        {% elif prediction == 5 %}
            <p class="text-center">Disease:Corn Rust Leaf</p>
            <div>
            <p>What is Corn Rust Leaf</p>
                <br>
                <p>Common rust produces rust-colored to dark brown, elongated pustules on both leaf surfaces. The pustules contain rust spores (urediniospores) that are cinnamon brown in color. 
                    Pustules darken as they age. Leaves, as well as sheaths, can be infected. Under severe conditions leaf chlorosis and death may occur. </p>
                <br>
                <p>Treatment:The best management practice is to use resistant corn hybrids. Fungicides can also be beneficial, especially if applied early when few pustules have appeared on the leaves.</p>
                <p>Visit Site <a href="https://extension.umn.edu/corn-pest-management/common-rust-corn#:~:text=The%20best%20management%20practice%20is,have%20appeared%20on%20the%20leaves.">Click here for more information</a></p>
                <p>Plant Health Clinic Services: <a href="https://cagayanvalley.da.gov.ph/regional-crop-protection-center-plant-health-clinic-services/">Link</a></p>
            </div>
        {% elif prediction == 6 %}
            <p class="text-center">Disease:Potato Leaf Early Blight</p>
            <div>
            <p>What is Potato Leaf Early Blight</p>
                <br>
                <p>Early blight is primarily a disease of stressed or senescing plants. Symptoms appear first on the oldest foliage. Affected leaves develop circular to angular dark brown lesions 0.12 to 
                    0.16 inch (3–4 mm) in diameter. Concentric rings often form in lesions to produce characteristic target-board effect. </p>
                <br>
                <p>Treatment: Early blight can be minimized by maintaining optimum growing conditions, including proper fertilization, irrigation, and management of other pests. Grow later maturing, longer season varieties. Fungicide application is justified only when the disease is initiated early enough to cause economic loss.</p>
                <p>Visit Site <a href="https://ipm.ucanr.edu/agriculture/potato/early-blight/#:~:text=Early%20blight%20can%20be%20minimized,enough%20to%20cause%20economic%20loss.">Click here for more information</a></p>
                <p>Plant Health Clinic Services: <a href="https://cagayanvalley.da.gov.ph/regional-crop-protection-center-plant-health-clinic-services/">Link</a></p>
            </div>
        {% elif prediction == 7 %}
            <p class="text-center">Disease:Potato Leaf Late Blight</p>
            <div>
            <p>What is Potato Leaf Late Blight</p>
                <br>
                <p>Late blight caused by the fungus Phytophthora infestans is the most important disease of potato that can result into crop failures in a short period if appropriate control measures are not adopted. 
                    Losses in potato yield can go as high as 80% in epidemic years. </p>
                <br>
                <p>Treatment: Late blight is controlled by eliminating cull piles and volunteer potatoes, using proper harvesting and storage practices, and applying fungicides when necessary. Air drainage to facilitate the drying of foliage each day is important.</p>
                <p>Visit Site <a href="https://ipm.ucanr.edu/agriculture/potato/late-blight/#:~:text=Late%20blight%20is%20controlled%20by,foliage%20each%20day%20is%20important.">Click here for more information</a></p>
                <p>Plant Health Clinic Services: <a href="https://cagayanvalley.da.gov.ph/regional-crop-protection-center-plant-health-clinic-services/">Link</a></p>
            </div>
        {% elif prediction == 8 %}
            <p class="text-center">Disease:Squash Powdery Mildew Leaf</p>
            <div>
                <p>What is Squash Powdery Mildew Leaf</p>
                    <br>
                    <p>Powdery Mildew of Squash and Pumpkin is a very common disease of all cucurbits. 
                        This fungal disease is caused by the release of airborne spores which can travel long distances to find susceptible hosts. </p>
                <br>
                <p>Treatment: Powdery mildew fungicide: Use sulfur-containing organic fungicides as both preventive and treatment for existing infections.
                    Trim or prune: Remove the affected leaves, stems, buds, fruit or vegetables from the plant and discard. Some perennials can be cut down to the ground and new growth will emerge. </p>
                <p>Visit Site <a href="https://www.gardendesign.com/how-to/powdery-mildew.html#:~:text=Powdery%20mildew%20fungicide%3A%20Use%20sulfur,and%20new%20growth%20will%20emerge.">Click here for more information</a></p>
                <p>Plant Health Clinic Services: <a href="https://cagayanvalley.da.gov.ph/regional-crop-protection-center-plant-health-clinic-services/">Link</a></p>
            </div>
        {% elif prediction == 9 %}
            <p class="text-center">Disease:Tomato Early Blight Leaf</p>
            <div>
                <p>What is Tomato Early Blight Leaf</p>
                    <br>
                    <p>Early blight is one of the most common tomato and potato diseases, occurring nearly every season in Minnesota.
                        It affects leaves, fruits and stems and can be severely yield-limiting when susceptible tomato cultivars are used and weather is favorable.
                        Severe defoliation can occur.  </p>
                    <br>
                    <p>Treatment:Tomatoes that have early blight require immediate attention before the disease takes over the plants. Thoroughly spray the plant (bottoms of leaves also) with Bonide Liquid Copper Fungicide concentrate or Bonide Tomato & Vegetable. Both of these treatments are organic. </p>
                    <p>Visit Site <a href="https://www.pesches.com/blogs/news/how-to-fight-early-blight#:~:text=Treatment,of%20these%20treatments%20are%20organic.">Click here for more information</a></p>
                    <p>Plant Health Clinic Services: <a href="https://cagayanvalley.da.gov.ph/regional-crop-protection-center-plant-health-clinic-services/">Link</a></p>

            </div>
        {% elif prediction == 10 %}
            <p class="text-center">Disease:Grape Leaf Black Rot</p>
            <div>
                <p>What is Grape Leaf Black Rot</p>
                    <br>
                    <p>Black rot, caused by the fungus Guignardia bidwellii, is a serious disease of cultivated and wild grapes. 
                        The disease is most destructive in warm, wet seasons. </p>
                    <br>
                    <p>Treatment:Prevention is key when dealing with grape black rot. During your fall clean-up, make sure that all mummies have been removed from the vine and all plant material on the ground below is destroyed. Prune out any and all areas with lesions; grapevines can handle a severe pruning — when in doubt, cut it out. If leaves appear the following spring with new lesions, 
                        remove these immediately and start a spray treatment program with one of the above-listed fungicides.</p>
                    <p>Visit Site  <a href="https://www.gardeningknowhow.com/edible/fruits/grapes/black-rot-grape-treatment.htm">Click here for more information</a></p>
                    <p>Plant Health Clinic Services: <a href="https://cagayanvalley.da.gov.ph/regional-crop-protection-center-plant-health-clinic-services/">Link</a></p>
            </div>
        {% endif %}
    </body>
</html>